#education_section{
    background:var(--project-bg);
}

.education-container {
    max-width: 1000px;
    margin: 30px auto;
    padding-bottom: 80px;

    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 60px;
}

.education-profile{
    position:relative;
    top:50px;
    height:fit-content;
    background:var(--win-bg);
    border:1px solid var(--win-border);
    border-radius:24px;
    padding:50px;
    box-shadow:var(--shadow);
}

.education-avatar{
    width:110px;
    height:110px;
    margin:auto;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:48px;
    color:white;
    background:linear-gradient(135deg,var(--home-name-gradient-1),var(--home-name-gradient-2));
    box-shadow:0 20px 35px rgba(0,0,0,.15);
}

.education-profile h2{
    margin-top:25px;
    text-align:center;
    color:var(--text-dark);
}

.education-profile p{
    text-align:center;
    color:var(--text-mid);
    margin-top:8px;
}

.education-badges{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    margin:25px 0;
}

.education-badges span{
    padding:8px 14px;
    border-radius:30px;
    background:var(--pill-bg);
    border:1px solid var(--win-border);
    color:var(--text-dark);
    font-size:13px;
}

.education-stats{
    display:grid;
    gap:15px;
}

.edu-stat{
    padding:10px;
    border-radius:16px;
    background:linear-gradient(135deg,var(--pill-bg),var(--win-bg));
    border:1px solid var(--win-border);
    text-align:center;
}

.edu-stat h3{
    font-size:30px;
    color:var(--home-name-gradient-1);
    margin-bottom:6px;
}

.edu-stat h4{
    font-size:20px;
    color:var(--home-name-gradient-1);
    margin-bottom:6px;
}

.edu-stat span{
    color:var(--text-mid);
}

.education-timeline{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:30px;
    height:700px;
    padding: 15px;
    overflow-y:auto;
    overflow-x:hidden;

    padding-right:10px;
}

.edu-card{
    width:100%;
}

.edu-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
    flex-wrap:wrap;
    gap:12px;
}

.edu-date{
    display:inline-flex;
    align-items:center;
    padding:8px 18px;
    border-radius:999px;
    background:var(--pill-bg);
    border:1px solid var(--win-border);
    color:var(--text-dark);
    font-weight:600;
    font-size:14px;
}

.edu-label{
    display:inline-flex;
    align-items:center;
    padding:8px 18px;
    border-radius:999px;
    background:linear-gradient(
        135deg,
        var(--home-name-gradient-1),
        var(--home-name-gradient-2)
    );
    color:#fff;
    font-size:12px;
    font-weight:700;
    letter-spacing:1px;
}

.edu-content{
    background:var(--win-bg);
    border:1px solid var(--win-border);
    border-radius:22px;
    padding:28px;
    transition:.35s;
    box-shadow:var(--shadow);
}

.edu-content:hover{
    transform:translateY(-6px);
    box-shadow:0 20px 40px rgba(0,0,0,.15);
}

.edu-content h3{
    color:var(--text-dark);
    margin-bottom:8px;
    font-size:23px;
}

.edu-content h4{
    color:var(--text-mid);
    margin-bottom:15px;
    font-weight:600;
    font-size:13px;
}

.edu-content p{
    color:var(--text-light);
    line-height:1.8;
    font-size:12px;
}

@media(max-width:950px){

.education-container{
    grid-template-columns:1fr;
}

.education-profile{
    position:static;
}

.timeline-line{
    left:15px;
}

.edu-card{
    grid-template-columns:30px 1fr;
    gap:20px;
}

.edu-date{
    margin-bottom:10px;
}

.edu-dot{
    grid-row:1/3;
}

}