.navbar {
    position: fixed;
    top: 20px;

    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);

    height: 65px;
    background: linear-gradient(176deg, #211C1C 0%, #181515 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;

    border: 2px solid rgba(255,255,255,0.08);
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    border-radius: 5px;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    max-width: 1300px;

    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: #db4e4c;
    background-image: linear-gradient(155deg, #db4e4c 15.74%, #370947 153.87%);
    background-size: 100%;
    -webkit-background-clip: text;  
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;

    margin-left: auto;
}

.navbar_item {
    display: flex;
    align-items: center;
}

.navbar_links_group {
    display: flex;
    gap: 10px;
}

.navbar_links {
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    padding: 10px 16px;
    border-radius: 8px;

    transition: 0.25s ease;
}

.navbar_links:hover {
    background: rgba(255, 255, 255, 0.08);
    color: white;
}

.navbar_links.active {
    background: rgba(255, 255, 255, 0.12);
    color: #ffffff;
    border-radius: 8px;
}

.navbar_special .navbar_links {
    background: rgba(236, 84, 83, 0.15);
    border: 1px solid rgba(236, 84, 83, 0.4);
}

.navbar_special .navbar_links:hover {
    background: rgba(236, 84, 83, 0.25);
}
