@import url("./css/root.css");

@import url("./css/navbar.css");
@import url("./css/home.css");
@import url("./css/about.css");
@import url("./css/skills.css");
@import url("./css/projects.css");
@import url("./css/experience.css");
@import url("./css/education.css");
@import url("./css/practicum.css");
@import url("./css/contacts.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Verdana;
    font-weight: 700;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 65px;
    background-color: var(--body-bg-color);
    overflow-x: hidden;
}

body,
.navbar,
.navbar_links,
.theme_btn,
.navbar_special .navbar_links {
  transition: background-color 0.3s ease,
              color 0.3s ease,
              border-color 0.3s ease,
              box-shadow 0.3s ease;
}

/* --------------SECTIONS-------------- */

section {
    min-height: 100vh;
    scroll-margin-top: 100px;
    box-sizing: border-box;
}

.section_container{
    display: flex;
    padding: auto 15px;
}

.sectiontitle_container {
    display: block;
    margin-top: 15px;;
    margin-left: 15px;
}

.title_text {
    text-align: center;
    display: inline-block;
    margin: 2px auto;
    height: 35px;
    line-height: 35px;
    font-size: 20px; 
    font-weight: 700;
    letter-spacing: 4.4px;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--text-color);
}

.sub_title{
    line-height: 20px;
    font-size: 16px;
    background-color: #370947;
    border-color: #fff;
    background: linear-gradient(to right, #db4e4c 35.74%, #370947 153.87%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* ================= Specific Styles for Section ================= */
#projects_section,
#skills_section,
#experience_section,
#education_section {
    position: relative;
    height: auto;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

/*with margin*/
#projects_section,
#skills_section,
#experience_section {
    margin: 10% 5%;
}

#projects_section.animate,
#skills_section.animate,
#experience_section.animate,
#education_section.animate {
    opacity: 1;
    transform: translateY(0);
}

/* ================= Window PILLS ================= */
.pill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.pill {
    background: var(--pill-bg);
    color: var(--pill-text);
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 10px;
}