/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Ubuntu-Bold', Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Verdana', sans-serif;
}

body{
    background-color: #211C1C;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}


/*for mobile-NAVIGATION BAR*/
@media screen and (max-width: 960px){
    .navbar_container{
        display: flex;
        justify-content: right;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 80%;
        position: absolute;
        right: 0;
        flex-direction: column;
        top: 60px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        list-style: none;
        text-align: center;
        border-radius: 15px;
        background: linear-gradient(to bottom, #181515, #211C1C);
    }

    .navbar_item{
        width: 100%;
        
    }

    .navbar_links{
        text-align: center;
        padding: 1rem;
        width: 95%;
        display: table;
        border-radius: 15px;
    }

    #mobile_menu{
        position: absolute;
        display: block;
        cursor: pointer;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
        
    }

    .checkbtn{
        width: 25px;
        height: 3px;
        transition: all 0.3s ease-in-out;
        display: block;  
        cursor: pointer;
        font-size: 30px;
        float: left;
    
        color: #fff;
    }

    #check:checked{
        display: block;
    }

    .navbar_menu li {
        padding: 10px;
    }

    .myname_container {
    }

}


/* BACKGROUND DESIGNS */
/*.gradient_shape {
    transform: origin;
    box-sizing: border-box;
    z-index: -1;
}

.gradient_ellipse {
    display: flex;
    width: 650px;
    height: 700px;
    left: 10%;
    margin: 0;
    flex-shrink: 0;
    border-radius: 35rem;
    position: relative;
    transform: rotate(-80.32deg);
    filter: blur(10px);
     background: linear-gradient(123deg, rgba(151,71,255,1) -20.19%, rgb(131, 44, 119) -37.16%, rgba(151,71,255,0)51.91%); 
}*/

/* NAVIGATION BAR */
.navbar{
    height: 9.46vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 999;
    width: 100vw;
    top: 0;
    background-image: linear-gradient(176deg, #211C1C 0%, #181515 100%);*/
}

.navbar_container{
    display: flex;
    position: sticky;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: space-evenly;
    align-items: center;
}


.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 0.875rem 0.2rem;
}

.navbar_links{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.5rem;
    border-radius: 20px;
    font-size: 1.2rem;
    gap: 2rem;

    font-family: 'trebuchet Ms', sans-serif;
    font-weight: bold;
    color: rgba(255,255,255,60%);
}

.navbar_links:hover{
    border-bottom: 3px solid transparent;
    background: linear-gradient(176deg, #211C1C, #181515) padding-box,
                linear-gradient(45deg, #EC5453, #9747FF) border-box;
    
}


.navbar_links:active{
    border-bottom: 3px solid transparent;
    background: linear-gradient(45deg, #EC5453, #9747FF) padding-box,
                linear-gradient(45deg, #360746, #B51FEA) border-box;
    transition: all 0.3 ease;
}

.checkbtn{
    display: none;  
}

#check{
    /*display: none;*/
}


/* SECTIONS */

section{
    padding-top: 10vh;
    height: 100%;
    margin: 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section_container{
    display: flex;
}


/* PROFILE SECTION */
#profile_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    max-width: 960px;
    width: 80%;
    height: auto;
    padding: 2%;
    margin: 10% auto;
    left: -10%;
}

.myname_container {
    display: flex;
    align-items: left;
    position: relative;
    font-size: 7.56rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    white-space: nowrap;

    background-color: transparent;
    background: linear-gradient(155deg, #db4e4c 15.74%, #370947 153.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.section_text{
    align-self: left;
    text-align: left;
}

.section_text_h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 4.5rem;
    color: rgba(255,255,255,70%);
}

.section_text_h1.greetings{
    margin-bottom: -10px;
    text-align: left;
    align-items: left;
    position: relative;
}

.oneline_container {
    align-self: left;
    width: 100%;
    height: 1em;
    overflow: hidden;
}

.oneline_container ul, li{
    height: 13.5em;
    margin: 0;
    padding: 0;
    width: 100%;
}
.oneline_container li{
    list-style-type: none;
    margin: 0px 0 1px 0;
    height: 1em !important;
    padding: 0px 0 0px 0;
    width: 100%;
}

.scrolling_text{
    animation-name: titleflip;
    animation: titleflip 5s ease-in-out infinite;
}

@keyframes titleflip {
    0%, 25%{
        transform: translateY(-0.25em);
    }
    25%, 50%{
        transform: translateY(-3.40em);
    }
    50%, 75%{
        transform: translateY(-1.30em);
    }
    75%, 100%{
        transform: translateY(-2.30em);
    }
    100%, 0%{
        transform: translateY(-0.25em);
    }
}


.section_text_p{
    font-weight: 500;
    font-size: 1.55rem;
    margin-bottom: 1.5rem;
    line-height: 1.9rem;
    word-wrap: wrap;
    align-self: left;
    font-family: Helvetica;
    font-style: italic;

    color: rgba(238, 227, 227, 0.479);
}

#socials_container{
    display: flex;
    gap: 0.5rem;
}

.social_link {
    display: flex;
}

.socials_link a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #979292;
    box-shadow: 0 0 20px 10px rgba(14, 7, 7, 0.295);
    margin-right: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.socials_link a:hover {
    transform: translateY(-10px);
}

.socials_link a .fab {
    font-size: 35px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.socials_link a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(155deg, #db4e4c 15.74%, #370947 153.87%);
    position: absolute;
    transition: top 0.5s;
}

.socials_link a:hover .fab,
.socials_link a:hover::after,
.socials_link a .fab:hover::after {
    color: #380707;
    top: 0;
    transition: 0.5s;
}

/* SKILLS SECTION */
#skills_section{
    position: relative;
    margin: 10% auto;
    height: auto;
    width: 98%;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title_icon {
    text-align: center;
    display: inline-block;
    min-width: 10.438rem;
    height: 35px;
    line-height: 35px;
    font-size: 20px; 
    font-weight: 700;
    letter-spacing: 4.4px;
    text-transform: uppercase;
    padding: 0 15px;
    border-radius: 70px;
}

.title_icon.custom1{
    color: #211C1C;
    background: #fff;
    border: 2px solid #FFF;
}

.title_icon.custom2{
    color: #fff;
    background: transparent;
    border: 2px solid #FFF;
}

.skills_icon{
    width: 1.5rem;
    height: 1.5rem;
}

.skills_sub_title{
    color: rgb(134, 134, 134);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.details_container:hover .skills_sub_title{
    color: #d2b9b9;
}

.about_containers{
    gap: 2rem;
    margin: 2rem;
}

.skills_details_container{
    justify-content: center;
    flex-direction: column;
    
}

.about_containers,
.skills_details_container{
    display: flex;
    flex-wrap: wrap;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

.article_container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.details_container{
    padding: 2.5rem 2.5rem 3.5rem 2.5rem;
    flex: 1;
    border-radius: 2rem;
    text-align: center;
    transition: transform 200ms ease-in-out;

    background-color: transparent;
    border: rgb(53,53,53) 0.2rem solid;
    border-color: rgba(10, 1, 14, 0.25);
    box-shadow: -2px -2px 4px 10px rgba(15,3,20,0.25) inset;
}

.details_container:hover{
    transform: translateY(-8px);
    transition: transform 200ms ease-in-out;
    background: linear-gradient(155deg, #db4e4c 15.74%, #370947 153.87%);;
    box-shadow: -2px 9px 20px 10px rgba(15,3,20,0.25)inset;
}

.details_container:hover .skills_sub_title{
    color: #8e329a;
    text-shadow: 2px 2px 4px rgba(176, 161, 209, 0.362)

}

.skills_example{
    color: #9593A7;
}

.details_container:hover .skills_example{
    color: #e0c5c5;
}

.skills_level{
    font-style: italic;
    color: #453b3b;
}

.details_container:hover .skills_level{
    color: #24a8eab0;
}

/* INTERESTS SECTION */
#interests_section{
    position: relative;
    margin: 10% auto;
    height: auto;
    width: 98%;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* PROJECTS SECTION */
#projects_section {
    position: relative;
    margin: 10% auto;
    height: auto;
    width: 98%;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.project_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project_file{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project_file img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.image_layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(154, 50, 202, 0.6), #c52e5e);
    /*155deg, #db4e4c 15.74%, #370947 153.87%);*/
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size:  14px;
    transition: height 0.5s;
}

.image_layer h3{
    font-weight: 500px;
    margin-bottom: 20px;
    color: #f2f2f2;
}

.image_layer p{
    font-weight: 200px;
    margin-bottom: 20px;
    color: #f2f2f2bb;
}

.image_layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project_file:hover img{
    transform: scale(1.1);
}

.project_file:hover .image_layer{
    height: 100%;
}



/* ACHIEVEMENTS SECTION */
#achievements_section {
    position: relative;
    margin: 10% auto;
    height: auto;
    width: 98%;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}