/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Verdana;
    font-weight: 700;
    /*font-family: 'Verdana', sans-serif;*/

}

body{
    background-color: #211C1C;
    overflow-x: hidden;
    min-height: 1500px;
}

html{
    scroll-behavior: smooth;
}


/* BACKGROUND DESIGNS */
.galaxy_bg {}

/* --------------NAVIGATION BAR-------------- */
.navbar {
    background-image: linear-gradient(176deg, #211C1C 0%, #181515 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar_container {
    display: flex;
    position: fixed;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100vw; 
    background-image: linear-gradient(176deg, #211C1C 0%, #181515 100%);
}


.navbar_item{
    height: 80px;
    padding: 0.875rem 1.2rem;
}

.navbar_links{
    color: rgba(255, 255, 255, 60%);
    display: inline-flex; /*u can change back to flex ifuw*/
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.2rem;
    border-radius: 20px;
    height: 100%;
    transition: 0.1s;
}

.navbar_links:hover, .navbar_links:active {
    border-bottom: 3px solid transparent;
    background: linear-gradient(176deg, #211C1C, #181515) padding-box,
                linear-gradient(45deg, #EC5453, #9747FF) border-box;
    transition: all 0.1s ease;
}

.navbar_links:active {
    background: linear-gradient(45deg, #EC5453, #9747FF) padding-box,
                linear-gradient(45deg, #360746, #B51FEA) border-box;
    transition: all 0.1s ease;
}

.navbar_links:hover::after,
.navbar_links:active::after {
    transition: all 0.1s ease;
}

                                                                                                                                                                                                                        
@media (max-width: 960px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 2;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        background-image: linear-gradient(176deg, #211C1C 0%, #181515 100%);
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: 1;
    }

    .navbar_menu.active{
        background-image: linear-gradient(176deg, #211C1C 0%, #181515 100%);
        top: 80%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        height: 50vh;
        font-size: 1.6rem;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_links{
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 100vw;
        display: table;
        font-size: 1rem;
        border-radius: 0;
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* --------------SECTIONS-------------- */

section{
    height: 100%;
    box-sizing: border-box;
    min-height: fit-content;
}

.section_container{
    display: flex;
}


/* --------------PROFILE SECTION-------------- */
#profile_section {
    position: relative;
    margin: auto auto 10% auto;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
}

.profile_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 960px;
    width: 80%;
    height: auto;
    margin: 2px auto;
    z-index: 0;
}

.myname_container {
    display: flex;
    align-items: left;
    position: relative;
    font-size: 7.56rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    white-space: wrap;

    background-color: transparent;
    background: linear-gradient(155deg, #db4e4c 15.74%, #370947 153.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_text_h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 4.5rem;
    color: rgba(255,255,255,70%);
}

.section_text_h1.greetings{
    margin-bottom: -10px;
    text-align: left;
    align-items: left;
    position: relative;
}

.oneline_container {
    align-self: left;
    width: 100%;
    height: 1em;
    overflow: hidden;
}

.oneline_container ul, li{
    height: 13.5em;
    margin: 0;
    padding: 0;
    width: 100%;
}
.oneline_container li{
    list-style-type: none;
    margin: 0px 0 1px 0;
    height: 1em !important;
    padding: 0px 0 0px 0;
    width: 100%;
}

.scrolling_text{
    animation-name: titleflip;
    animation: titleflip 5s ease-in-out infinite;
}

@keyframes titleflip {
    0%, 25%{
        transform: translateY(-0.25em);
    }
    25%, 50%{
        transform: translateY(-3.40em);
    }
    50%, 75%{
        transform: translateY(-1.30em);
    }
    75%, 100%{
        transform: translateY(-2.30em);
    }
    100%, 0%{
        transform: translateY(-0.25em);
    }
}.scrolling_text{
    animation-name: titleflip;
    animation: titleflip 5s ease-in-out infinite;
}

@keyframes titleflip {
    0%, 25%{
        transform: translateY(-0.25em);
    }
    25%, 50%{
        transform: translateY(-3.40em);
    }
    50%, 75%{
        transform: translateY(-1.30em);
    }
    75%, 100%{
        transform: translateY(-2.30em);
    }
    100%, 0%{
        transform: translateY(-0.25em);
    }
}


.section_text_p{
    font-weight: 500;
    font-size: 1.23rem;
    margin-bottom: 1.5rem;
    line-height: 1.9rem;
    word-wrap: wrap;
    align-self: left;
    font-family: Helvetica;
    font-style: italic;

    color: rgba(238, 227, 227, 0.479);
}

#socials_container{
    display: flex;
    gap: 0.5rem;
}

.social_link {
    display: flex;
}

.socials_link a {
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: #979292;
    box-shadow: 0 0 20px 10px rgba(14, 7, 7, 0.151);
    margin-right: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.socials_link a:hover {
    transform: translateY(-10px);
}

.socials_link a .fab {
    font-size: 25px;
    line-height: 50px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}


.socials_link a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(155deg, #db4e4c 15.74%, #370947 153.87%);
    position: absolute;
    transition: top 0.5s;
}

.socials_link a:hover .fab,
.socials_link a:hover::after,
.socials_link a .fab:hover::after {
    color: #f7f7f7;
    top: 0;
    transition: 0.5s;
}

/* --------------SKILLS SECTION-------------- */
#skills_section{
    position: relative;
    margin: 10% auto;
    height: auto;
    width: 98%;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title_icon {
    text-align: center;
    display: inline-block;
    margin: 8px auto;
    height: 35px;
    line-height: 35px;
    font-size: 20px; 
    font-weight: 700;
    letter-spacing: 4.4px;
    text-transform: uppercase;
    padding: 0 15px;
    border-radius: 70px;
}

.title_icon{
    font-size: 2.5rem;
    color: #fff;
    background: transparent;
}

.skills_icon{
    width: 1.5rem;
    height: 1.5rem;
}

.skills_sub_title{
    color: rgb(134, 134, 134);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.details_container:hover .skills_sub_title{
    color: #d2b9b9;
}

.about_containers{
    gap: 2rem;
    margin: 2rem;
}

.skills_details_container{
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
    border-radius: 30px;
    background-color: #16141498;
    
}

.about_containers,
.skills_details_container{
    display: flex;
    flex-wrap: wrap;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

.article_container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.details_container{
    padding: 2.5rem 2.5rem 3.5rem 2.5rem;
    flex: 1;
    border-radius: 2rem;
    text-align: center;
    transition: transform 200ms ease-in-out;

    background-color: transparent;
    border: rgb(53,53,53) 0.2rem solid;
    border-color: rgba(10, 1, 14, 0.25);
}

.details_container:hover{
    transform: translateY(-8px);
    transition: transform 200ms ease-in-out;
    box-shadow: -2px 9px 20px 10px rgba(15,3,20,0.25);
    border: unset;
    border-top: 5px solid transparent;
    background: linear-gradient(176deg, #211C1C, #1a1616b7) padding-box,
                linear-gradient(to right, #db4e4c 15.74%, #370947 153.87%) border-box;
    
}

.details_container:hover .skills_sub_title{
    color: #8e329a;

}

.skills_example{
    color: #9593A7;
}

.details_container:hover .skills_example{
    color: #e0c5c5;
}

.skills_level{
    font-style: italic;
    color: #453b3b;
}

.details_container:hover .skills_level{
    color: #24a8eab0;
}

/* --------------INTERESTS SECTION-------------- */
#interests_section{
    position: relative;
    margin: 10% auto;
    height: auto;
    width: 100%;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #1b1717d7;
}

.interests_container{
    margin: 25px auto auto auto;
    justify-items: center;
    align-items: center;
}

.slide_content h2{
    color: #c8b0c0;
    margin: 5px 0;
    padding: 0;
}

.slide_content p{
    color: blue;
    margin: 20px 0;
    padding: 5px;
}

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    background: #534876;
    border: 3px;
    position: relative;
    z-index: 0;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #9689b9;
 }
 #slides .slide_2 {
    background: #61679a;
 }
 #slides .slide_3 {
    background: #534876;
 }
 #slides .slide_4 {
    background: #2d2c4e;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 0;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(./images/right-arrow.png) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
    background-color: yellow;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(images/left-arrow.png) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
    background-color: yellow;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
        margin: 0;
        margin-right: 0;
    }
    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}

/* --------------PROJECTS SECTION-------------- */
#projects_section {
    position: relative;
    margin: 10% auto;
    height: auto;
    width: 98%;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.project_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    margin: 25px auto auto auto;
    justify-items: center;
    align-items: center;
}

.project_file{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project_file img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.image_layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(154, 50, 202, 0.6), #c52e5e);
    /*155deg, #db4e4c 15.74%, #370947 153.87%);*/
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size:  14px;
    transition: height 0.5s;
}

.image_layer h3{
    font-weight: 500px;
    margin-bottom: 20px;
    color: #f2f2f2;
}

.image_layer p{
    font-weight: 200px;
    margin-bottom: 20px;
    color: #f2f2f2bb;
}

.image_layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project_file:hover img{
    transform: scale(1.1);
}

.project_file:hover .image_layer{
    height: 100%;
}



/* --------------ACHIEVEMENTS SECTION-------------- */
#achievements_section {
    position: relative;
    margin: 10% auto;
    height: auto;
    width: 98%;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.achievements_container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.achievements_container:nth-child(1){
    animation-delay: 0s;
}
.achievements_container:nth-child(2){
    animation-delay: 1s;
}
.achievements_container:nth-child(3){
    animation-delay: 2s;
}
.achievements_container:nth-child(4){
    animation-delay: 3s;
}
/*you can add more depending of no. of projects*/

.text_box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 15px;
    font-size: 15px;
}

.left_container{
    left: 0;
}

.right_container{
    left: 50%;
}

.achievements_container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right_container img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }

    100%{
        height: 100%;
    }
}

.text_box h2{
    font-weight: 600;
}

.text_box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .achievements_container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text_box{
        font-size: 13px;
    }
    .text_box small{
        margin-bottom: 10px;
    }

    .right_container{
        left: 0;
    }

    .left_container img, .right_container img{
        left: 10px;
    }
    .left_container_arrow, .right_container_arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }

}